<ul class="media-list">
  <% events.each do |event| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(event.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to event.user.name, user_path(event.user) %> <span class="text-muted">posted at <%= event.created_at %></span>
        </div>
        <div>
          <p><%= event.title %></p>
        </div>
        <%= render 'joins/joins_button', event: event %>
        <div>
          <% if current_user == event.user %>
            <%= link_to "Delete", event, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate events %>
</ul>